# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.log
.env
docker/.env
docker/.env.*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Java/Maven (in case they are in root too)
target/
*.class
*.jar
*.war
*.ear
